## VYAKYA TASK SUBMISSION

## TASK - 2

In [1]:
#IMPORT LIBRARIES:
import json
import pandas as pd

In [2]:
# OPEN JSON FILE:
json_data = open("C:/Users/hp/Desktop/Technical-Assessment/task2/task_input_list.json")
  
# RETURN JSON OBJECT AS A DICTIONARY:
data = json.load(json_data)

In [3]:
#DISPLAY DATA:
data2=data['data']
for i in range(len(data2)):
    print(data2[i])

ABC BANK
Preferred Rewards
P.O. Box 12345
Customer service information
Wilmington, DE 144444
0
ph: (555) 555-1234
TDD/TTY users only call: (800) 555-1234
other: 1-800-555-1234
John Doe
bankingservices.com
Your Adv Plus Banking
Preferred Rewards Platinum
for November 27, 2018 to December 24, 2018
Account summary
Beginning balance on November 27, 2018
$83,576.78
Deposits and other additions
27,450.00
ATM and debit card subtractions
-0.00
Other subtractions
-50,923.23
Checks
-949.00
Service fees
-40.00
Ending balance on December 24, 2018
$59,114.55
See all your benefits and rewards in one place
My Rewards lets you see your Preferred Rewards benefits plus any
Rewards
other rewards and benefits available to you.
Check out My Rewards at bankingservices.com/MyRewards
Page 1 of 6
November 27, 2018 to December 24, 2018
IMPORTANT INFORMATION:
BANK DEPOSIT ACCOUNTS
How to Contact Us - You may call us at the telephone number listed on the front of this statement.
Updating your contact information - We encourage you to keep your contact information up-to-date. This includes address, email
and phone number. If your information has changed, the easiest way to update it is by visiting the Help & Support tab of Online
Banking.
Deposit agreement - When you opened your account, you received a deposit agreement and fee schedule and agreed that your
account would be governed by the terms of these documents, as we may amend them from time to time. These documents are
part of the contract for your deposit account and govern all transactions relating to your account, including all deposits and
withdrawals. Copies of both the deposit agreement and fee schedule which contain the current version of the terms and
conditions of your account relationship may be obtained at our financial centers.
Electronic transfers: In case of errors or questions about your electronic transfers - If you think your statement or receipt is
wrong or you need more information about an electronic transfer (e.g., ATM transactions, direct deposits or withdrawals,
point-of-sale transactions) on the statement or receipt, telephone or write us at the address and number listed on the front of
this statement as soon as you can. We must hear from you no later than 60 days after we sent you the FIRST statement on
which the error or problem appeared.
Tell us your name and account number.
Describe the error or transfer you are unsure about, and explain as clearly as you can why you believe there is an error or
why you need more information.
Tell us the dollar amount of the suspected error.
For consumer accounts used primarily for personal, family or household purposes, we will investigate your complaint and will
correct any error promptly. If we take more than 10 business days (10 calendar days if you are a Massachusetts customer) (20
business days if you are a new customer, for electronic transfers occurring during the first 30 days after the first deposit is
made to your account) to do this, we will provisionally credit your account for the amount you think is in error, so that you will
have use of the money during the time it will take to complete our investigation.
For other accounts, we investigate, and if we find we have made an error, we credit your account at the conclusion of our
investigation.
Reporting other problems - You must examine your statement carefully and promptly. You are in the best position to discover
errors and unauthorized transactions on your account. If you fail to notify us in writing of suspected problems or an unauthorized
transaction within the time period specified in the deposit agreement (which periods are no more than 60 days after we make
the statement available to you and in some cases are 30 days or less), we are not liable to you and you agree to not make a
claim against us, for the problems or unauthorized transactions.
Direct deposits - If you have arranged to have direct deposits made to your account at least once every 60 days from the same
person or company, you may call us to find out if the deposit was made as scheduled. You may also review your activity online or
visit a financial center for information.
Equal Housing Lender
Page 2 of 6
November 27, 2018 to December 24, 2018
Deposits and other additions
Date
Description
Amount
12/03/18
Counter Credit
8,075.00
12/10/18
Counter Credit
9,970.00
12/21/18
PAYPAL
DES:TRANSFER ID:1004561753452 INDN:
CO
1,000.00
12/24/18
Counter Credit
8,405.00
Total deposits and other additions
$27,450.00
Withdrawals and other subtractions
Other subtractions
Date
Description
Amount
11/30/18
Automatic Transfer to SAV 2084 Confirmation# 1313790286
-25.00
12/03/18
Online Banking payment to CRD 8610 Confirmation# 0485104765
-200.00
12/04/18
Customer Withdrawal Image
-12,000.00
12/07/18
TRANSFER
-3,695.00
12/11/18
CARFAX
DES:BT1210 ID:000000071591462 INDN:
CO ID:1251465303
-399.98
12/13/18
TRANSFER  :J Cars Confirmation# 0472167145
-3,955.00
12/19/18
TRANSFER  :J Cars Confirmation# 0423610629
-13,990.00
12/20/18
SOUTHWEST GAS DES:WEB
ID:1410023972050 INDN:JOHNSON
CO
-28.25
12/21/18
TRANSFER  :J Cars Confirmation# 1642822709
-16,630.00
Total other subtractions
-$50,923.23
Page 3 of 6

November 27, 2018 to December 24, 2018
Checks
Date
Check #
Amount
Date
Check #
Amount
12/18/18
1148
-900.00
11/28/18
1521'
-49.00
Total checks
-$949.00
Total # of checks
2
There is a gap in sequential check numbers
Service fees
Date
Transaction description
Amount
12/10/18
External transfer fee - Next Day - 12/07/2018
-10.00
12/14/18
External transfer fee - Next Day - 12/13/2018
-10.00
12/20/18
External transfer fee - Next Day - 12/19/2018
-10.00
12/24/18
External transfer fee - Next Day - 12/21/2018
-10.00
Total service fees
-$40.00
Note your Ending Balance already reflects the subtraction of Service Fees.
Page 4 of 6
November 27, 2018 to December 24, 2018
Check images
Check number: 1148
Amount: $900.00
Check number: 1521
Amount: $49.00
THE NATERE CONSFIVANCY
RENEO
TRA1-S-001439/001439 S1 ET M1 -000001
000005
Conservancy The Nature
1148
700 N UCCARRAN BLVD
CARNEL Ph BAY CA% adrist
89451
1521
e.e Wex ilst
DATE 12/12/18
24-72/1224 -
Data 11/27/18
Cornell Bay, CA96140
817Z
Safe Auto Transport
900-
Paylothe
Orderof
CITICARDS
$49.00
ORDER DE
Nine Hundred & 00/100
DELLARS @ and
*****FORTYNINE AND 00/100*****
206-C007495681 180
122400724
SCARS 07 GL450
'06 EDIARE
LAI
Memo 4100390077958227 815830260521
Authorizedby your Depositor 11/27/18
Page 5 of 6
This page intentionally left blank
Page 6 of 6

In [4]:
#PERFORMING VALIDATIONS ON DATE AND AMOUNT COLUMNS:
amt=[]
for i in range(len(data2)):
    try:
        if data2[i][2]=='/':
            listt=[]
            listt.append(data2[i])
            listt.append(data2[i+1])
            listt.append(data2[i+2])
            amt.append(listt)
    except:
        print('*******')
print(amt)

*******
*******
*******
*******
*******
[['12/03/18', 'Counter Credit', '8,075.00'], ['12/10/18', 'Counter Credit', '9,970.00'], ['12/21/18', 'PAYPAL', 'DES:TRANSFER ID:1004561753452 INDN:'], ['12/24/18', 'Counter Credit', '8,405.00'], ['11/30/18', 'Automatic Transfer to SAV 2084 Confirmation# 1313790286', '-25.00'], ['12/03/18', 'Online Banking payment to CRD 8610 Confirmation# 0485104765', '-200.00'], ['12/04/18', 'Customer Withdrawal Image', '-12,000.00'], ['12/07/18', 'TRANSFER ', '-3,695.00'], ['12/11/18', 'CARFAX', 'DES:BT1210 ID:000000071591462 INDN:'], ['12/13/18', 'TRANSFER  :J Cars Confirmation# 0472167145', '-3,955.00'], ['12/19/18', 'TRANSFER  :J Cars Confirmation# 0423610629', '-13,990.00'], ['12/20/18', 'SOUTHWEST GAS DES:WEB', 'ID:1410023972050 INDN:JOHNSON'], ['12/21/18', 'TRANSFER  :J Cars Confirmation# 1642822709', '-16,630.00'], ['12/18/18', '1148', '-900.00'], ['11/28/18', "1521'", '-49.00'], ['12/10/18', 'External transfer fee - Next Day - 12/07/2018', '-10.00'], ['12/14/18', 'External transfer fee - Next Day - 12/13/2018', '-10.00'], ['12/20/18', 'External transfer fee - Next Day - 12/19/2018', '-10.00'], ['12/24/18', 'External transfer fee - Next Day - 12/21/2018', '-10.00']]

In [5]:
#IDENTOFYING PHONE NUMBERS AND EMAIL ID IN THE LIST:
#PHONE NUMBER:
phn=[]
for i in data2:
    if i.count('-')==3 and i.count(':')==1:
        a=i
        ph=''
        for j in a:
            if j.isnumeric() or (j=='-' or j=='(' or j==')'):
                ph=ph+j
        phn.append(ph)
    
    if i.count('-')>=1 and i.count('(')==1:
        a=i
        ph=''
        for j in a:
            if j.isnumeric() or (j=='-' or j=='(' or j==')'):
                ph=ph+j
        phn.append(ph)
print(phn)

['(555)555-1234', '(800)555-1234', '1-800-555-1234']

In [6]:
#EMAIL ID:
email_id=""
for i in data2:
    a=i
    if "@" in a:
        if ".com" in a:
            email_id=email_id+i
            break
    else:
        email_id="NA"
email_id

'NA'

In [7]:
#WEBSITE:
website=""
for i in data2:
    a=i
    if ".com" in a:
        website=website+i
        break
website

'bankingservices.com'

In [8]:
#IDENTIFYING DEPOSIT TRANSACTION LIST AND WITHDRAWAL TRANSACTION LIST:
d_list=[]
w_list=[]
for i in amt:
    amount=i[2]
    da=i[0]
    if amount[0]!='-':
        deposit=[]
        deposit.append(i[0])
        deposit.append(i[1])
        deposit.append(amount)
        deposit.append(da[0:2])
        deposit.append(da[3:5])
        deposit.append(da[6::])
        d_list.append(deposit)
    else:
        withdraw=[]
        withdraw.append(i[0])
        withdraw.append(i[1])
        withdraw.append(amount)
        withdraw.append(da[0:2])
        withdraw.append(da[3:5])
        withdraw.append(da[6::])
        w_list.append(withdraw) 
print(d_list)
print(w_list)

[['12/03/18', 'Counter Credit', '8,075.00', '12', '03', '18'], ['12/10/18', 'Counter Credit', '9,970.00', '12', '10', '18'], ['12/21/18', 'PAYPAL', 'DES:TRANSFER ID:1004561753452 INDN:', '12', '21', '18'], ['12/24/18', 'Counter Credit', '8,405.00', '12', '24', '18'], ['12/11/18', 'CARFAX', 'DES:BT1210 ID:000000071591462 INDN:', '12', '11', '18'], ['12/20/18', 'SOUTHWEST GAS DES:WEB', 'ID:1410023972050 INDN:JOHNSON', '12', '20', '18']]
[['11/30/18', 'Automatic Transfer to SAV 2084 Confirmation# 1313790286', '-25.00', '11', '30', '18'], ['12/03/18', 'Online Banking payment to CRD 8610 Confirmation# 0485104765', '-200.00', '12', '03', '18'], ['12/04/18', 'Customer Withdrawal Image', '-12,000.00', '12', '04', '18'], ['12/07/18', 'TRANSFER ', '-3,695.00', '12', '07', '18'], ['12/13/18', 'TRANSFER  :J Cars Confirmation# 0472167145', '-3,955.00', '12', '13', '18'], ['12/19/18', 'TRANSFER  :J Cars Confirmation# 0423610629', '-13,990.00', '12', '19', '18'], ['12/21/18', 'TRANSFER  :J Cars Confirmation# 1642822709', '-16,630.00', '12', '21', '18'], ['12/18/18', '1148', '-900.00', '12', '18', '18'], ['11/28/18', "1521'", '-49.00', '11', '28', '18'], ['12/10/18', 'External transfer fee - Next Day - 12/07/2018', '-10.00', '12', '10', '18'], ['12/14/18', 'External transfer fee - Next Day - 12/13/2018', '-10.00', '12', '14', '18'], ['12/20/18', 'External transfer fee - Next Day - 12/19/2018', '-10.00', '12', '20', '18'], ['12/24/18', 'External transfer fee - Next Day - 12/21/2018', '-10.00', '12', '24', '18']]

In [9]:
deposit_df=pd.DataFrame(d_list,columns=['Date','Description','Amount','month','day','year'])
deposit_df

,Date,Description,Amount,month,day,year
0,12/03/18,Counter Credit,"8,075.00",12,03,18
1,12/10/18,Counter Credit,"9,970.00",12,10,18
2,12/21/18,PAYPAL,DES:TRANSFER ID:1004561753452 INDN:,12,21,18
3,12/24/18,Counter Credit,"8,405.00",12,24,18
4,12/11/18,CARFAX,DES:BT1210 ID:000000071591462 INDN:,12,11,18
5,12/20/18,SOUTHWEST GAS DES:WEB,ID:1410023972050 INDN:JOHNSON,12,20,18

In [10]:
deposit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         6 non-null      object
 1   Description  6 non-null      object
 2   Amount       6 non-null      object
 3   month        6 non-null      object
 4   day          6 non-null      object
 5   year         6 non-null      object
dtypes: object(6)
memory usage: 416.0+ bytes

In [11]:
withdraw_df=pd.DataFrame(w_list,columns=['Date','Description','Amount','month','month','year'])
withdraw_df

,Date,Description,Amount,month,month,year
0,11/30/18,Automatic Transfer to SAV 2084 Confirmation# 1...,-25.00,11,30,18
1,12/03/18,Online Banking payment to CRD 8610 Confirmatio...,-200.00,12,03,18
2,12/04/18,Customer Withdrawal Image,"-12,000.00",12,04,18
3,12/07/18,TRANSFER,"-3,695.00",12,07,18
4,12/13/18,TRANSFER :J Cars Confirmation# 0472167145,"-3,955.00",12,13,18
5,12/19/18,TRANSFER :J Cars Confirmation# 0423610629,"-13,990.00",12,19,18
6,12/21/18,TRANSFER :J Cars Confirmation# 1642822709,"-16,630.00",12,21,18
7,12/18/18,1148,-900.00,12,18,18
8,11/28/18,1521',-49.00,11,28,18
9,12/10/18,External transfer fee - Next Day - 12/07/2018,-10.00,12,10,18
10,12/14/18,External transfer fee - Next Day - 12/13/2018,-10.00,12,14,18
11,12/20/18,External transfer fee - Next Day - 12/19/2018,-10.00,12,20,18
12,12/24/18,External transfer fee - Next Day - 12/21/2018,-10.00,12,24,18

In [16]:
withdraw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         13 non-null     object
 1   Description  13 non-null     object
 2   Amount       13 non-null     float64
 3   month        13 non-null     object
 4   month        13 non-null     object
 5   year         13 non-null     object
dtypes: float64(1), object(5)
memory usage: 752.0+ bytes

In [15]:
#Converting Amount column form string to Float

withdraw_df['Amount'] = withdraw_df['Amount'].str.replace(',', '').astype(float)

In [17]:
#FINDING MAXIMUN AMOUNT AND MINIMUM AMOUNT:
#MAX AMOUNT:
col = deposit_df["Amount"]
max_amt = col.max()
max_amt

'ID:1410023972050 INDN:JOHNSON'

In [18]:
#MIN AMOUNT:
col = withdraw_df["Amount"]
min_amt = col.min()
min_amt

-16630.0

In [19]:
#CREATING DICTIONARY FOR DATA TO STORE OUTPUT IN EXCEL FORMAT:
dictionary={'Key':['Phone_number','E-mail ID','Website','Maximum Amount','Minimum Amount'],'Value':[phn,email_id,website,max_amt,min_amt]}
dictionary

{'Key': ['Phone_number',
  'E-mail ID',
  'Website',
  'Maximum Amount',
  'Minimum Amount'],
 'Value': [['(555)555-1234', '(800)555-1234', '1-800-555-1234'],
  'NA',
  'bankingservices.com',
  'ID:1410023972050 INDN:JOHNSON',
  -16630.0]}

In [20]:
#INSIGHT:
Insight_data = pd.DataFrame.from_dict(dictionary)
Insight_data

              Key                                           Value
0    Phone_number  [(555)555-1234, (800)555-1234, 1-800-555-1234]
1       E-mail ID                                              NA
2         Website                             bankingservices.com
3  Maximum Amount                   ID:1410023972050 INDN:JOHNSON
4  Minimum Amount                                          -16630